
@font-face {
 font-family: 'open_sansbold';
    src: url('../fonts/open-sans.bold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 @font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans.light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open-sans.regular-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}