// Variables
// --------------------------

$fa-font-path:        "../fonts" !default;
$fa-font-size-base:   14px !default;
$fa-line-height-base: 1 !default;
//$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.6.1/fonts" !default; // for referencing Bootstrap CDN font files directly
$fa-css-prefix:       fa !default;
$fa-version:          "4.6.1" !default;
$fa-border-color:     #eee !default;
$fa-inverse:          #fff !default;
$fa-li-width:         (30em / 14) !default;



$fa-var-angle-left: "\f104";
$fa-var-angle-right: "\f105";
$fa-var-rocket: "\f135";
$fa-var-desktop: "\f108";
$fa-var-lightbulb-o: "\f0eb";
$fa-var-tablet: "\f10a";
$fa-var-twitter: "\f099";
$fa-var-facebook: "\f09a";
$fa-var-vk: "\f189";
$fa-var-phone: "\f095";


